<html>
	<title>Debriefing</title>
	<script src="static/jquery-min.js" type="text/javascript"> </script>
	<link rel=stylesheet href="static/questTask.css/" type="text/css" media="screen">
	<script type="text/javascript">

  // Subject info, including condition and counterbalance codes.
  var prolific_id    = "{{ prolific_id }}";
  var study_id       = "{{ study_id }}";
  var participant_id = "{{ participant_id }}";
  var longit_id      = "{{ longit_id }}";
  

  console.log('Debrief Prolific_id',prolific_id) // DOES NOT FIND 


	function onexit() {
		self.close()
			}
  function endExpt(){ // redirecting to validation PROLIFIC page 
 		window.location='end?prolific_id=' + prolific_id + '&study_id=' + study_id + '&participant_id=' + particiapnt_id+'&longit_id='+ longit_id;
		}

    function randomIntFromInterval(min,max)
{
    return Math.floor(Math.random()*(max-min+1)+min);
}


  // Globals defined initially.
  var keydownfun = function() {};
  var datastring = "";
  var questCode  = randomIntFromInterval(100000,999999); // generate subject code to store the personal data not based   on the prolific id 
  console.log("questCode is " +questCode);
  var subjCode = "";

  var debriefPg     = function() {
  var timestamp = new Date().getTime();
  showpage('debriefing');
  $("#continue").click(function () {
                         finish();
                         saveDets();
                         });

};

//this one is for the information page. mod it to direct to consent, nothing needs to be saved
var saveDets =  function(){
    var timestamp        = new Date().toISOString().substr(0, 19);
            subjCode = subjCode.concat(study_id);
        subjCode = subjCode.concat("\t", longit_id);
        subjCode = subjCode.concat("\t", questCode);

  $('select').each( function(i, val) {
                     datastring = datastring.concat( "\n", [this.id, this.name, this.value]);
                     });

  $('textarea').each( function(i, val) {
                     datastring = datastring.concat( "\n", [this.id, this.name, this.value]);
                     });
    $.ajax( "subjSave", {
            type: 'POST',
            async: false,
           data: {study_id: study_id,longit_id:longit_id, datastring: datastring, when: timestamp, subjCode:subjCode}
         });

   };

	</script>


	<div id="debriefing">
		<h1>Thank you very much!</h1>

		<p style="text-align: justify;">You have now completed the entire study! Your data makes an important contribution to our understanding of mental health.</p>

		<p style="text-align: justify;">In this experiment, we were interested in how you learn from previous experience (adjusting the bucket position to catch the coins) and how that is reflected in your confidence ratings. Previous work has linked differences in behaviour and confidence ratings to psychiatric disorders, which we are aiming to understand better. Thanks for your help!</p>

		<p style="text-align: justify;">If you feel that completing the questionnaires on any of the psychopathologies caused you any distress, please use the following contact details for help and support.</p>

		<div id="affirmationbox">
    <i>Web pages</i><br>
	  <strong>NHS:</strong> <a
		href="https://www.nhs.uk/oneyou/every-mind-matters/">https://www.nhs.uk/oneyou/every-mind-matters/</a><br><br>
		<strong>Mind Mental Health Charity:</strong><br><a href="https://www.mind.org.uk">https://www.mind.org.uk</a>
		<br><br>
    <br></br>
	  </div>

<br></br>
<div>
<form id="postquiz" action="subjSave" method="post">

<table>
<tr class="question">
    <td class="questiontext">
        We may want to re-invite you for follow-up or similar studies relating to this project.<br>Please choose either 'Agree' or 'Disagree'.<br>If you agree, you will need to provide us with your name and email address.
    </td>
    <td class="answer">
        <select id="ContactDropdownId" name="ContactDropdown" onchange='Check();'>
            <option value="select">--Select One--</option>
            <option value="Agree">Agree</option>
            <option value="Disagree">Disgree</option>
        </select>
    </td>
</tr>

  <tr class="question"  id="contact_name" style="visibility:hidden">
      <td class="questiontext">
        First Name
      </td>
      <td class="answer">
        <textarea rows="1" cols="20" name="Name" id="NameId"></textarea>
      </td>
  </tr>

  <tr class="question" id="contact_surname" style="visibility:hidden">
      <td class="questiontext">
        Surname
      </td>
      <td class="answer">
        <textarea rows="1" cols="20" name="Surname" id="SurnameId"></textarea>
      </td>
  </tr>

	<tr class="question" id="contact_email" style="visibility:hidden">
      <td class="questiontext">
        Email
      </td>
      <td class="answer">
        <textarea rows="1" cols="35" name="Email" id="EmailId"></textarea>
      </td>
  </tr>

<tr class="question">
		<td class="questiontext">
			If you have any comments relating to the study, please let us know here:
		</td>
		<td class="answer">
			<textarea rows="10" cols="35" name="Comments" id="CommentsId"></textarea>
		</td>
</tr>
</table>

<input type="button" class="continue" id="continue" value="Next" style="visibility: hidden;" onclick=endExpt();></input>
</form>
 <p><strong>Click 'Next' to submit your details and proceed to the submission page. If the button does not appear, please check that you have selected an option for the question above. </strong></p>
</div>
</div>
</html>

<script>

var Check = function(){

    if(ContactDropdownId.value == "select"){
        $('input#continue').css('visibility','hidden');
    }
		else {
			  $('input#continue').css('visibility','visible');
	}

    if(ContactDropdownId.value == "Agree"){
	$('tr#contact_name').css('visibility','visible');
	$('tr#contact_surname').css('visibility','visible');
	$('tr#contact_email').css('visibility','visible');
    }
    else {
			$('tr#contact_name').css('visibility','hidden');
			$('tr#contact_surname').css('visibility','hidden');
			$('tr#contact_email').css('visibility','hidden');
}
}
</script>
