<!doctype html>
<html>

<link rel="shortcut icon" href="static/images/flavicon.ico">
	<head>
		<title>Experiment</title>
		<meta charset="utf-8">
		<script src="static/raphael-min.js" type="text/javascript"> </script>
		<script src="static/jquery-min.js" type="text/javascript"> </script>
		<script src="static/raphael-animate-along.js" type="text/javascript"> </script>

		<script language="JavaScript">

		function parseURL(url) {
    		var parser = document.createElement('a'),
        	searchObject = {},
        	queries, split, i;
    		// Let the browser do the work
    		parser.href = url;
    		// Convert query string to object
    		queries = parser.search.replace(/^\?/, '').split('&');
    		for( i = 0; i < queries.length; i++ ) {
        		split = queries[i].split('=');
        		searchObject[split[0]] = split[1];
    		}
    	return {
        	protocol: parser.protocol,
        	host: parser.host,
        	hostname: parser.hostname,
        	port: parser.port,
        	pathname: parser.pathname,
        	search: parser.search,
        	searchObject: searchObject,
        	hash: parser.hash
    	};
		}

		var url = parseURL(window.location.href); // full url = window.location.href

		// Subject info
		var participant_info            = {}
		participant_info.prolific_id    = url.searchObject['prolific_id'];
        participant_info.study_id       = url.searchObject['study_id'];
        participant_info.participant_id = url.searchObject['participant_id'];
        participant_info.longit_id      = url.searchObject['longit_id'];

		/*********************
		* Get things started *
		********************/

		$(window).load( function(){
			runfun = function() {
		                startTask();
                    instructobject = new Instructions(['debrief']);
                       };


			for (i=0; i<pagenames.length; i++) {
				var pagename = pagenames[i];

				$.ajax({
					url: pagename + ".html",
					success: function(pagename){ return function(page){ pages[pagename] = page; } }(pagename),
					async: false
				});
			}
			runfun();
		});

//here is where you call the js file to execute?

		</script>

		<script src="static/debrief.js" type="text/javascript"> </script>
		<link rel=stylesheet href="static/questTask.css" type="text/css" media="screen">
	</head>
<body>
	<noscript>
		<h1>Warning: Javascript seems to be disabled</h1>
		<p>This website requires that Javascript be enabled on your browser.</p>
		<p>Instructions for enabling Javascript in your browser can be found <a
			href="http://support.google.com/bin/answer.py?hl=en&answer=23852">here</a><p>
	</noscript>
</body>
</html>
