<html>
	<script src="static/jquery-3.5.0.js" type="text/javascript"> </script>
  <link rel=stylesheet href="static/questTask.css/" type="text/css" media="screen">
	<script type="text/javascript">

  console.log('Feedback') 

  // This is for the external redirection to a new template function endExpt(){
  //   window.location='end?prolific_id=' + prolific_id + '&participant_id=' + participant_id + '&study_id=' + study_id +'&longit_id='+ longit_id;
  //   }


 // Get the input field
 var input = document.getElementById("FeedbackId");

 $(document).on("keydown", ":input:not(text)", function(event) {
    return event.key != "Enter";
  });

  </script>

  <div id="feedback">
    <h1>Thank you very much!</h1>

    <p style="text-align: center;">In this experiment, we were interested in how you learn from previous experience (adjusting the bucket position to catch the coins) and how that is reflected in your confidence ratings. Previous work has linked differences in behaviour and confidence ratings to psychiatric disorders, which we are aiming to understand better. Thanks for your help!</p>
    
    </div>

<br></br>
<div>
<center>
<p style="text-align: center;">If you have any comments or have encountered any difficulties completing questionnaires or the game, please feel free to include them in the box below.</p>
<p></p>
  <form class="feedbacktext">
    <input type='text' style="text-align: left; font-size:12pt; width:100%; height: 100%" maxlength="10000" name="Feedback" id="FeedbackId" value="">
</form>
<p></p>
<p>Click <strong>'Next'</strong> to submit your feedback and proceed to the validation page.</p>
<div>
<div id="nextButton" style="visibility: visible; width:100px;cursor:pointer">
  <input type="button" class="continue" id="continue" value="Next"/>
</div>
</div>
</center>
</div>

<!-- This is for external redirection to a new template <input type="button" class="continue" id="continue" value="Next" style="visibility: visible;" onclick=endExpt();></input>
</form>
 <p><strong>Click 'Next' to submit your feedback and proceed to the validation page.</strong></p>
</div>
</div>
action="feedbackSave" method="post">
 -->
 </html>
