<div class="instruct" id="main">
  <br>
  <p>You will see a small white dot in the center of the screen surrounded by a big outer white ring, as well as an orange bucket attached to the ring.</p>
  <p>You may think of it as a white star that emits asteroids and your goal is to catch them with your bucket.</p>
  
  <p>Before each time the asteroid flies out, you can choose a new location for your bucket.</p>

  <p>So, you need to predict where the next asteroid piece will land. If the asteroid hits your orange bucket, you <strong style="color:white;">win</strong> points. But if it's out, you <strong style="color:white;">lose</strong> points.

  <p>Usually the asteroid lands in <strong style="color:white">about the same location, but sometimes this will change!</strong></p>
  
<div id="nextButton" style="visibility: visible;">
<input type="button" class="continue" id="continue" value="Next" style="visibility: visible;"></input>
</div>
</div>

<script type="text/javascript">

  document.getElementById("continue").disabled = false;
  document.getElementById('continue').style = 'background-color: #4CAF50;';
</script>
