<script>

//setTimeout(function(){ $('div#nextButton').css('visibility','visible'); }, 8000);

</script>

<div class="instruct" id="main">

  <p><strong style="color:white;">Do your best to rate your confidence accurately! 
  <p>Be sure to make use of the FULL LENGTH of the scale throughout the game.</p><strong></p>
  

  <p>For example, if I was pretty sure but not 100% certain I might mark my confidence here:</p>

  <img class="keyboard" src="/static/images/exampleconf1.png" alt="image failed to load" style="width:700px; height:150px;padding-top:5px; padding-bottom:1px; position:relative">
  
  <p>Or if I thought there might be only a small chance the asteroid will land in the bucket I might mark my confidence here: </p>

  <img class="keyboard" src="/static/images/exampleconf2.png" alt="image failed to load" style="width:700px; height:120px;padding-top:5px; padding-bottom:1px; position:relative">
  
  <p>When giving your confidence try to respond as quickly and accurately as possible!</p>

<br>
<div id="nextButton" style="visibility: visible;">
<input type="button" class="continue" id="Next" value="Next" style="background-color: #4CAF50;"/>
</div>
</div>
