<script>

//setTimeout(function(){ $('div#nextButton').css('visibility','visible'); }, 8000);

</script>


<div class="instruct" id="main">

<p>Ooops! You got one or more of the answers wrong.</p>
<p>We will now show you the instructions again.</p>
<p>Read carefully! You must get the quiz answers correct to proceed to the experiment.</p>

<div id="nextButton" style="visibility: visible;">
When you're ready to continue, click <strong>Next</strong>.	<input type="button" class="continue" id="Next" value="Next" />
</div>


</div>
