
<div class="instruct" id="main">

  <p>In the following experiment you will see a small white dot in the center of the screen surrounded by a big outer white ring, as well as a orange bucket attached to the ring:</p>
  <!--- <img src="static/images/stim_circle.png" alt="image failed to load" style="width:400;height:400px;"> -->
  <div id="ps_instruct_1"></div>

  <p>Your task will be to catch coins flying from the center by moving your orange bucket around the outer ring. Before each new coin flies, you can choose a new location for your bucket. </p>

  <p>Basically, you need to anticipate where the next coin will land. If the coin hits your orange bucket, you <strong>win</strong> points. But if it's out, you <strong>lose</strong> points.</p>

  <p>Usually the coins will fly to approximately the same location, but sometimes this will change!</p>

  <br>

  <p>You may try this now to see what it is like with the white ring presented above.</p>

  <p>To move the orange bucket <strong>counter-clockwise</strong>, press the <strong>left ARROW</strong> key.<br>
    To move the orange bucket <strong>clockwise</strong>, press the <strong>right ARROW</strong> key.</p>

  <p>Press the <strong>SPACEBAR</strong> to <strong>confirm</strong> your orange bucket position.</p>

  <br>

<div id="nextButton" style="visibility: visible;">
When you are ready to continue, click <strong>Next</strong>.
<input type="button" class="continue" id="continue" value="Next" style="visibility: visible;"></input>
</div>
</div>

<script type="text/javascript">

// for keyboard functions
var leftKey = 37;
var rightKey = 39;
var spaceKey = 32;

var canvas_width = 800;
var canvas_height = 340;
var canvas_xCenter = canvas_width/2;
var canvas_yCenter = canvas_height/2;

var stim_std            = 12;
var stim_cirDia         = 300; // diameter of big circle (every degree = 4 px)
var stim_cirThickness   = 10;
var stim_cirNPos        = 360; // number of possible end points on circle
var stim_innerCirDia    = stim_cirDia-stim_cirThickness; //to draw inner circle to get a ring
var stim_dotDia         = 8; // radius (or dia?) of money dots (in px?)
var stim_bucketDepth    = 35;
var stim_bucketDia      = stim_cirDia + stim_bucketDepth;
var stim_bucketSize     = stim_std*3; //bucket is 3 sd of distribution //this is in degrees
var stim_fixDia         = 9; //dia of the fixation circle
var stim_bucketSpeed    = 2;
var data_buckPos          =Math.floor(Math.random()*stim_cirNPos);

var col_white           = '#FFFFFF';// aka rgb 255 255 255
var col_background      = '#808080';// aka rgb 128 128 128
var col_bucket          = '#FF8000'; //aka 255 128 0

function draw_defaultCircle(canvas_xCenter, canvas_yCenter, stim_cirDia, stim_innerCirDia, stim_dotDia, col_white, col_background) {

	var outerCircle = instructPaper1.circle(canvas_xCenter, canvas_yCenter, stim_cirDia / 2).attr({
		stroke: col_white,
		fill: col_white
	});
	var innercircle = instructPaper1.circle(canvas_xCenter, canvas_yCenter, stim_innerCirDia / 2).attr({
		stroke: col_white,
		fill: col_background
	});
	var fixDot = instructPaper1.circle(canvas_xCenter, canvas_yCenter, stim_dotDia / 2).attr({
		stroke: col_white,
		fill: col_white
	});

	return fixDot;
}

function draw_bucket(canvas_xCenter, canvas_yCenter, stim_cirDia, stim_innerCirDia, stim_bucketDia, stim_bucketSize, col_bucket, col_background, bucket_pos) {
	//the inputs are in degrees
	//this is for the orange part
	var bucket1 = instructPaper1.path().attr({
		stroke: col_bucket,
		fill: col_bucket,
		"stroke-width": 1,
		arc: [canvas_xCenter, canvas_yCenter, bucket_pos, bucket_pos + stim_bucketSize, stim_cirDia / 2, stim_bucketDia / 2]
	});
	//this is for the grey part
	var bucket2 = instructPaper1.path().attr({
		stroke: col_background,
		fill: col_background,
		"stroke-width": 2,
		arc: [canvas_xCenter, canvas_yCenter, bucket_pos, bucket_pos + stim_bucketSize, stim_innerCirDia / 2, stim_cirDia / 2]
	});


	return {
		bucket1:bucket1,
		bucket2: bucket2
	};

}

    var keyRespBuck = function( e ) {
        if ( e === undefined ) keyCode = 0;  // When this is a timeout, e will be undefined.

        else keyCode = e.keyCode;
        if(!buckListening) return false; //if not listening, return false

    		  var buck_confirm  = 0; // has bucket moved?
          var buck_move  = 0; // shift of bucket
    		  var buck_moved  = 0; // has bucket moved?

        switch (keyCode) {
          case leftKey:
          buck_move    = -1*stim_bucketSpeed; //if bucketSpeed is 2, then it moves 2deg each time the key is pressed
          buck_moved   = 1;
          break;
          case rightKey:
          buck_move    = stim_bucketSpeed; //move in the other direction
          buck_moved   = 1;
          break;
          case 0:
          buck_move    = 0; //if decide not to move
          buck_moved   = 0;
          break;
          case spaceKey:
          buck_confirm = 1;
          buck_done =1;
          buckListening = false;
          break;
          default:
          buck_moved = -1;
          break;
        }
      // will keep adding as long as bucketPos hasnt been chosen
      if (buck_moved == 1) { //%if pressed move key, the next position is updated by the bucketspeed for that trial

        if (data_buckPos + buck_move >= 0) {
          data_buckPos = data_buckPos + buck_move;
        }else {
          data_buckPos = mod(buck_move,stim_cirNPos-1);
        }

        bucket.bucket1.remove();
        bucket.bucket2.remove();
        bucket = draw_bucket (canvas_xCenter,canvas_yCenter, stim_cirDia, stim_innerCirDia,stim_bucketDia,stim_bucketSize,col_bucket,col_background,data_buckPos);
      }

    }

$(window).keydown(keyRespBuck);

var instructPaper1 = Raphael("ps_instruct_1", canvas_width, canvas_height);
    instructPaper1.canvas.style.backgroundColor = col_background; //initialise canvas to be grey


    instructPaper1.customAttributes.arc = function (centerX, centerY, startAngle, endAngle, innerR, outerR) {
      var radians = Math.PI / 180,
      largeArc = +(endAngle - startAngle > 180),
      // calculate the start and end points for both inner and outer edges of the arc segment
      // the -90s are about starting the angle measurement from the top get rid of these if this doesn't suit your needs
      outerX1 = centerX + outerR * Math.cos((startAngle-90) * radians),
      outerY1 = centerY + outerR * Math.sin((startAngle-90) * radians),
      outerX2 = centerX + outerR * Math.cos((endAngle-90) * radians),
      outerY2 = centerY + outerR * Math.sin((endAngle-90) * radians),
      innerX1 = centerX + innerR * Math.cos((endAngle-90) * radians),
      innerY1 = centerY + innerR * Math.sin((endAngle-90) * radians),
      innerX2 = centerX + innerR * Math.cos((startAngle-90) * radians),
      innerY2 = centerY + innerR * Math.sin((startAngle-90) * radians);

      // build the path array
      var path = [
        ["M", outerX1, outerY1], //move to the start point
        ["A", outerR, outerR, 0, largeArc, 1, outerX2, outerY2], //draw the outer edge of the arc
        ["L", innerX1, innerY1], //draw a line inwards to the start of the inner edge of the arc
        ["A", innerR, innerR, 0, largeArc, 0, innerX2, innerY2], //draw the inner arc
        ["z"] //close the path
      ];
      return {path: path};
    };




var circle = draw_defaultCircle(canvas_xCenter, canvas_yCenter, stim_cirDia, stim_innerCirDia, stim_dotDia, col_white, col_background);
var bucket = draw_bucket (canvas_xCenter,canvas_yCenter, stim_cirDia, stim_innerCirDia,stim_bucketDia,stim_bucketSize,col_bucket,col_background,data_buckPos);
var	buck_done = 0;
var buckListening = true;
keyRespBuck();





</script>
