
<div class="instruct" id="main">

<h1>Welcome to the experiment!</h1>
<br>
<p>Hello and thank you in advance for taking part in this study. </p>

<p>From this point onwards, if you decide to leave or refresh the page before the end of the study, <strong>you will be opting out of the experiment and will not have access to it again. Additionally, you will be forfeiting your payment if you do so.</strong> Please ensure this is what you mean to do if you leave before the end of the study.</p>

<p>We will begin with the instructions to the experimental task.</p>

<br>
When you're ready to start, click <strong>Next</strong>.
<input type="button" class="continue" id="continue" value="Next" style="visibility: visible;"></input>

</div>
