<script>

//setTimeout(function(){ $('div#nextButton').css('visibility','visible'); }, 8000);


</script>

<div class="instruct" id="main">
  <p>Well done! You answered the questions correctly!</p>

  <p>It is time for the real experiment!</p>

  <p>Before you start the game, <strong>let's review</strong>. Your aim is to collect as many points as possible by catching the flying coins.</p>

  <p>If you do well, you can win money up to 1£, which we will pay you as a bonus, in addition to your regular PROLIFIC payment.</p>

  <p>This is a psychology experiment that relies on good data, so please give this your full attention; don't click away from the window in the middle of the experiment (e.g. to check email), don't press buttons randomly, don't watch TV and don't leave the task idle for long periods of time.</p>

  <p>This section should take approximately <strong>20 minutes</strong>. Thank you in advance for helping us with our research.</p>

  <p>Use the left and right <strong>ARROW</strong> keys to choose the bucket and confidence level positions.<br>
  Use the <strong>SPACEBAR</strong> keys to confirm the bucket and confidence level positions.</p>

  <p>Do rate your confidence properly and accurately with the rating scale. Please note that if you fail to do so, <strong>you will be brought back to the instruction quiz and the task will be reset from the beginning.</strong></p>

  <p>There will be 4 blocks of 50 coins each, where you can take a short break (we recommend no more than 2 minutes) in between the blocks.</p>

  <p>Please respond as <strong>quickly</strong> and as <strong>accurately</strong> as possible, and try to catch as many coins as you can!</p>
  <br></br>

<div id="nextButton" style="visibility: visible;">
When you're ready to begin, click <strong>Next</strong>.	<input type="button" class="continue" id="Next" value="Next" />
</div>

</div>
