
<div class="instruct" id="main">

<h1>Welcome to the final part of the study!</h1>
<br>

<p>You will now complete an experimental task</p>
<br>
<p>From this point onwards, <strong style="color:white">if you decide to leave or refresh the page before the end of the study, you will be opting out of the experiment and will not have access to it again.</strong> 
<p><strong style="color:white">Additionally, you will be forfeiting your payment if you do so.</p>
<p>Please ensure this is what you mean to do if you leave before the end of the study.</strong><p>
<br>
<p>We will begin with the instructions to the experimental task.</p>

<input type="button" class="continue" id="continue" value="Next"></input>

</div>

<script type="text/javascript">
  document.getElementById("continue").disabled = false;
  document.getElementById('continue').style = 'background-color: #4CAF50;visibility: visible;';
</script>

