<script>

//setTimeout(function(){ $('div#nextButton').css('visibility','visible'); }, 10000);
//setTimeout(function(){ $('div#nextButton').css('visibility','visible'); }, 1000);

</script>

<div class="instruct" id="main">
    <p>It is time for the real experiment!</p>


    <p>Try to catch as many coins as possible!</p>

<div id="nextButton" style="visibility: visible;">
When you're ready to begin, press <strong>Next</strong>.	<input type="button" class="continue" id="Next" value="Next" />
</div>

</div>
