<div class="instruct" id="main">

<p><strong>Let's have a practice!</strong></p> 

<p>On the top right corner of the screen, there will be a counter to show you how many points you've collected along the way.</p>

<p>Each time you catch an asteroid you will <strong style="color:white;">win</strong> points. 
<p>Each time you miss it, you will <strong style="color:white;">loose</strong> points.</p> 

<br>
<p>After, you will have to <strong style="color:white;">complete a short quiz</strong> relating to the game.</p>

<p>You will need to answer <strong style="color:white;">all of the quiz questions correctly</strong> to move on in the game - otherwise we will bring you through the instructions and practice again.</p>
<p>So, please, pay attention!</p>

<br>
<div id="nextButton" style="visibility: visible;">
<input type="button" class="continue" id="Next" value="START PRACTICE" style="background-color: #4CAF50;"/>
</div>
</div>
