<div class="instruct" id="main">

  <p>After you have positioned the space bucket on the ring, you will rate how confident you are that the asteroid will land on the bucket.</p>
  <p>Your confidence meter will range from <strong style="color:white;">very uncertain</strong> to <strong style="color:white;">very certain</strong>.</p>
  <br>
  <p>A <strong style="color:white">low</strong> confidence means that you are <strong style="color:white;">very uncertain</strong> that the asteroid will land in your bucket. <br>
  A <strong style="color:white">high</strong> confidence means that you are <strong style="color:white;">very certain</strong> that the asteroid will land in your bucket.</p>

  <div id="nextButton" style="visibility: visible;">
  <input type="button" class="continue" id="continue" value="Next" />
  </div>
</div>

<script type="text/javascript">
  document.getElementById("continue").disabled = false;
  document.getElementById('continue').style = 'background-color: #4CAF50;';
</script>
