

<div class="instruct" id="main">

  <p>After you have positioned the orange bucket, you will indicate your confidence in how likely you believe the coin is going to land in your orange bucket. The confidence meter will range from 1 to 100: </p>

<!-- <img src="static/images/stim_confbar.png" alt="image failed to load" style="width:400;height:70px;"> -->
  <div id="ps_instruct_2"></div>

  <p>A value of <strong>1</strong> indicates that you are <strong>very uncertain</strong> that the coin will land in your bucket. <br>
    A value of <strong>100</strong> indicates that you are <strong>very certain</strong> that the coin will land in your bucket.</p>

  <p>The small orange bar in the middle of the meter indicates the level of confidence on the meter. To change the level of your confidence along the meter, use the left/right ARROW keys.</p>
  <br>
  <p>You may try this now to see how it is like with the confidence meter presented above.</p>

  <p>To move the orange indicator <strong>leftward</strong>, press the <strong>left ARROW</strong> key.<br>
    To move the orange indicator <strong>rightward</strong>, press the <strong>right ARROW</strong> key.</p>

  <p>Press the <strong>SPACEBAR</strong> to <strong>confirm</strong> your confidence indicator position.</p>

  <br>

  <p>Please do your best to rate your confidence accurately and do take advantage of the whole rating scale.</p>

  <br>
<div id="nextButton" style="visibility: visible;">
When you are ready to continue, click <strong>Next</strong>.
<input type="button" class="continue" id="continue" value="Next" />
</div>
</div>

<script type="text/javascript">


//setTimeout(function(){ $('div#nextButton').css('visibility','visible'); }, 8000);
// for keyboard functions
var leftKey  = 37;
var rightKey = 39;
var spaceKey = 32;

var canvas_width   = 800;
var canvas_height  = 90;
var canvas_xCenter = canvas_width/2;
var canvas_yCenter = canvas_height/2;

var col_confBar     = '#E5E5E5';// aka rbg 229 229 229
var col_bucket      = '#FF8000'; //aka 255 128 0
var col_black       = '#000000';// aka rgb 000 000 000bucket          = '#FF8000'; //aka 255 128 0
var col_background  = '#808080';// aka rgb 128 128 128

var  conf_barHeight       = 20;
var  conf_barWidth        = 500;
var  conf_indRand         = [25,75];
var  conf_indHeight       = conf_barHeight; //for the indicatior
var  conf_indWidth        = conf_barWidth/100;
var  conf_range           = [1,100]; // min and max value of conf?
var  conf_startPos        = 50;

paper = Raphael("ps_instruct_2", canvas_width, canvas_height);
paper.canvas.style.backgroundColor = col_background; //initialise canvas to be grey

var confBar = paper.rect(canvas_xCenter - (conf_barWidth / 2), canvas_height + 10, conf_barWidth, conf_barHeight).attr({
		stroke: col_black,
		"stroke-width": 3,
		fill: col_confBar
	});

function confConvert(canvas_xCenter,conf_barWidth,newConf)
{
	var conf_pos = (canvas_xCenter-conf_barWidth/2)+5*newConf;
	return conf_pos;
}

//this will draw the confidence box
function draw_confBar(canvas_xCenter, canvas_height, conf_barWidth, conf_barHeight,col_confBar, col_black) {
	//confidence box
	var confBar = paper.rect(canvas_xCenter - (conf_barWidth / 2), canvas_height/2, conf_barWidth, conf_barHeight).attr({
		stroke: col_black,
		"stroke-width": 3,
		fill: col_confBar
	});

	//confidence text
	var confBegin = paper.text(canvas_xCenter - (conf_barWidth / 2), canvas_height/2 - 15, "1").attr({
		stroke: col_black,
		"font-size": 25,
		fill: col_black
	});
	var confEnd = paper.text(canvas_xCenter + (conf_barWidth / 2), canvas_height/2 - 15, "100").attr({
		stroke: col_black,
		"font-size": 25,
		fill: col_black
	});

	return {confBar:confBar,
	confBegin:confBegin,
	confEnd:confEnd
	};
}

//this will draw the confIndicator (this is the thing that will need to redraw....)
//confidence indicator..conf_pos is where the indicator is placed, in dot coord. middle is canvas_xCenter
function draw_confInd(canvas_height, conf_indWidth, conf_indHeight, col_bucket, conf_pos) {
	var confInd = paper.rect(conf_pos-(conf_indWidth/2), canvas_height/2 , conf_indWidth, conf_indHeight).attr({
		stroke: col_bucket,
		"stroke-width": 2,
		fill: col_bucket
	});
	return confInd;
}

var keyRespConf = function(e) {

    if (e === undefined) keyCode = 0; // When this is a timeout, e will be undefined.
    else keyCode = e.keyCode;
    if (!confListening) return false; //if not listening, return false]

		var conf_confirm = 0;
	  var conf_moved = 0; // has confInd moved?
		var conf_move = 0;

    switch (keyCode) {
      case leftKey:
      conf_move = -1;
      conf_moved = 1;
      break;
      case rightKey:
      conf_move = 1;
      conf_moved = 1;
      break;
      case 0:
      conf_move    = 0; //if decide not to move
      conf_moved   = 0;
      break;
      case spaceKey:
      conf_confirm = 1;
      confListening = false;
      break;
      default:
      conf_moved = -1;
      break;
    }

  //Calculate new position of pointer
  if (conf_moved == 1) {
    newConf = prevConf + conf_move;

    if (newConf < 1 || newConf > 100) { //making sure the conf doesnt go out of bounds
      newConf = prevConf;
    } else {
    prevConf = newConf;
  }

  var data_conf = newConf;
  conf_pos = confConvert(canvas_xCenter,conf_barWidth,data_conf);
	confInd.remove();
  confInd = draw_confInd(canvas_height, conf_indWidth, conf_indHeight, col_bucket, conf_pos); //draw final conf rating

}else if (conf_moved == 0) {

}

}

$(window).focus().keydown(keyRespConf);
var confBar = draw_confBar(canvas_xCenter, canvas_height, conf_barWidth, conf_barHeight,col_confBar, col_black);

var prevConf = conf_startPos; //this is to reset confidence indicator to either 25 or 75 after every trial
var conf_pos = confConvert(canvas_xCenter,conf_barWidth,prevConf);
var confInd = draw_confInd(canvas_height, conf_indWidth, conf_indHeight, col_bucket, conf_pos);

confListening = true;
keyRespConf();




</script>
