  <div class="instruct" id="main">
  <p><strong>Well done! You passed the quiz!</strong></p>

  <p><strong>It is time for the real game now!</strong></p>

  <p>If you do well, you can win up to <strong style="color:white">1£</strong> which we will pay you as a bonus in addition to your regular PROLIFIC payment.</p>

  <p>The game should take approximately <strong style="color:white">20 minutes.</strong></p>
  

  <p>This is a psychology experiment that relies on good data, so please give this your full attention.</p>  
  <p>Please, make sure that you are:</p>
    <ul style="font-size: 10pt;text-align:left;">
      <li>In a quiet place</li>
      <li>The game is the only thing you have open on your laptop.</li>
      <li>You have time to finish the game and won't let it idle for long periods of time</li>
     </ul>
  <br>

  <p>There will be 4 blocks in total, and you can take short breaks in between (ideallym no more than 2 minutes).</p>

  <p><strong>If you do not pay attention and place the bucket or your confidence answers randomly you will be <strong style="color:white">brought back to the beginning of the game</strong> and have to start all over again!</strong></p>
<br>
  <p><strong>It's not only important to get the bucket position correct but it is also <strong style="color:white">very important</strong> to rate you confidence specifically.</strong></p>

<p>Please respond as <strong style="color:white">quickly</strong> and as <strong style="color:white">accurately</strong> as possible, and try to catch as many asteroids as you can!</p>

</br>
  
<br></br>

<div id="nextButton" style="visibility: visible;">
<input type="button" class="continue" id="Next" value="START" style="background-color: #4CAF50;"/>
</div>
</div>

 



