<!doctype html>

<link rel='stylesheet' type='text/css' href='static/questTask.css'/>

<!-- <script language="JavaScript">
 // $("#workerId").html(workerId);
</script> -->


<div class="instruct" id="main">
<center>
<strong><p>Thank you for completing the entire study!</p></strong>

	<p style="text-align: center;">Your data makes an important contribution to our understanding of mental health.</p>

	<p> <strong> Please proceed to the debriefing</strong> </p>

<div id="nextButton" style="visibility: visible;">
<input type="button" class="continue" id="continue" value="Next" />
</div>
</center>
</div>
